<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Paradygmaty programowania</h1>
    <hr class="my-4" />
    <p>Optymalizacja kodu źródłowego – porównanie czasów działania</p>
  </div>

  <app-values-form [model]='model'></app-values-form>

  <div class="row" (onModelChanged)="reloadModel($event)">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="2" scope="col">Równanie</th>
            <th colspan="2" scope="col">.NET</th>
            <th colspan="2" scope="col">JavaScript</th>
          </tr>
        </thead>
        <ng-container *ngIf="equationsLoaded">
          <tbody *ngFor="let equationGroup of data.equationsDictionary | keys">
            <tr>
              <td colspan="6">
                <h3>
                    {{equationGroup.key}}
                </h3>
              </td>
            </tr>
            <tr *ngFor="let equation of equationGroup.value">
              <td>{{equation.before.formula}}</td>
              <td>{{equation.after.formula}}</td>
              <td>{{equation.before.netTimeTaken}}</td>
              <td>{{equation.after.netTimeTaken}}</td>
              <td>{{equation.before.jsTimeTaken}}</td>
              <td>{{equation.after.jsTimeTaken}}</td>
            </tr>
            <!--<tr *ngFor="let equation of equationGroup | values">
              <td>
                <!--<p>
                  {{equation}}
                </p>-->
            <!--<p>{{key.before.formula}}</p>
                <p>{{key.after.formula}}</p>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>-->
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>
</div>
