<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Paradygmaty programowania</h1>
    <hr class="my-4" />
    <p>Optymalizacja kodu źródłowego – porównanie czasów działania</p>
  </div>

  <app-values-form [model]='model'></app-values-form>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="2" scope="col">Równanie</th>
            <th colspan="2" scope="col">.NET</th>
            <th colspan="2" scope="col">JavaScript</th>
          </tr>
        </thead>
        <tbody *ngIf="equationsLoaded">
          <tr *ngFor="let equation of data.EquationsDictionary">
            <td>
              <!--<p>{{equation.before.formula}}</p>
              <p>{{equation.after.formula}}</p>-->
            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
