<form #valuesForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-1 col-sm-4">
      <label for="valueA">A</label>
      <input type="text" class="form-control" id="valueA" name="valueA" [(ngModel)]="model.A" required>
    </div>

    <div class="form-group col-md-1 col-sm-4">
      <label for="valueB">B</label>
      <input type="text" class="form-control" id="valueB" name="valueB" [(ngModel)]="model.B" required>
    </div>

    <div class="form-group col-md-1 col-sm-4">
      <label for="valueC">C</label>
      <input type="text" class="form-control" id="valueC" name="valueC" [(ngModel)]="model.C" required>
    </div>

    <div class="form-group col-md-1 col-sm-4">
      <label for="valueD">D</label>
      <input type="text" class="form-control" id="valueD" name="valueD" [(ngModel)]="model.D" required>
    </div>

    <div class="form-group col-md-1 col-sm-4">
      <label for="valueE">E</label>
      <input type="text" class="form-control" id="valueE" name="valueE" [(ngModel)]="model.E" required>
    </div>

    <div class="form-group col-md-2 col-sm-4">
      <label for="valueX">X</label>
      <input type="text" class="form-control" id="valueX" name="valueX" [(ngModel)]="model.X" required>
    </div>

    <div class="form-group col-md-2 col-sm-4">
      <label for="valueN">N</label>
      <input type="text" class="form-control" id="valueN" name="valueN" [(ngModel)]="model.N" required>
    </div>

    <div class="form-group col-md-3 col-sm-4">
      <label for="valueCount">Count</label>
      <input type="text" class="form-control" id="valueCount" name="valueCount" [(ngModel)]="model.Count" required>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)='getExamples($event)'>Przelicz</button>
</form>


{{getDiagnostic}}
